body{ 
background-color:#FDFFFF; 
} 

.top ul{
list-style-type: none; 
} 

.top li { 
display: block; 
float: right; 
margin-top: 4%;
padding:1.3%; 
font-family:fantasy; 
font-size: 25px; 
background-color: #313131; 
} 

.top li a{ 

color:#FFFFFF; 
text-decoration: none; 
padding:6.5% 155px; 
} 

ul li:hover{
    opacity: .5;
}
.logo img{
    width:13%;
    height: 10%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;

}
hr{
    background-color: #313131;
    width: 100%;
    height: 1.8%;
    
}
.Inf img{
	width: 100%;
}

.mini{
    padding-left: 1px;
    width: 100%;
}
.mini img{
    width: 32%;
    height: 30%;
    padding-right:;
    padding-left:;
}

h1.head1{
    text-align: center;
    color:#313131;
    font-family: fantasy;
    font-size: 50px;
}

p.info{
 font-size: 30px;
 color:#313131;
 font-family:Courier;
    font-weight:inherit;
    
    
    
}
p.info a{
    text-decoration: none;
    
    
}
p.info a:hover{
    text-decoration: underline;
}
.footer{
    height:25%;
    background-color:#313131;
}

